<div id="body">
    <div id='body-wrapper' class='fullheight'>
      <div id='body-liner' class="clear">
        <div id='content'>
          <noscript>
            <div id="noscript-content">
              <p>We’ve detected that your system does not have JavaScript enabled, which is required to purchase product and properly experience Nike.com.<br/>Please <a href="http://enable-javascript.com/">enable JavaScript in your browser</a> and refresh the page.</p>
            </div>
          </noscript>
          <a href="#" name="content" accesskey="2"></a>

          <span class='trackingData' id="cdpTrackingData" data-inline-style-allowed="true" style="display:none;">
  {"response":{"canonicalUrl":"http://www.nike.com/us/en_us/c/nikeplus-fuelband","contentPath":["nikeplus-fuelband"],"country":"US","defaultHomePage":"homepage","division":"brand","language":"en","pageType":"landing page","sportCategory":"nikeplus-fuelband","isSportCategory":true},"success":true}
</span>
<script language="javascript">
    window.nike = nike || {};
    nike.analytics = nike.analytics || {};
    nike.analytics.currentPageId = "cq_content";
</script>
<div class="nike-cq-content">
  <div class="device-type-desktop nike-cq-new-template nike-cq-nike-com-page nike-cq-lang-en nike-cq-en_US nike-cq-tesla-xml" data-experience-id="one-nike" data-locale="en_US" data-country="US" data-language="en" data-cq-url="http://www.nike.com" data-cq-ispreviewmode="false" data-follow-text="Follow [social channel]">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-optional-resource">
<section class="nike-cq-page-module nike-cq-active-page-title nike-cq-active-page-title-optional" data-module-name="Active Page Title" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-active-page-title-optional">
<div class="nike-cq-page-section-container nike-cq-active-page-title-container nike-cq-nike-com-container nike-cq-page-section-active-page-title-optional-container">
<div class="nike-cq-active-page-title-wrapper nike-cq-active-page-title-optional-wrapper">
<div class="nike-cq-active-page-title-title" data-component-container="true">
<header class="nike-cq-active-page-title-title-component nike-cq-active-page-title-title-header nike-cq-optional-active_page_title_op-active-page-title-title-resource page-header">
<h1 class="nike-cq-active-page-title-title-headline page-title"><span class="nike-cq-active-page-title-title-line nike-cq-active-page-title-title-line-1nike-cq-line1">CREDITS<span class="nikeplus">+</span></span></h1>
</header>
</section>
<br>
<div class=" nike-cq-content nike-cq-font20px">
<span class="nike-cq-active-page-title-title-line nike-cq-active-page-title-title-line-1nike-cq-line1">The design, layout, and code of this site were copied from <a href="http://www.nike.com/us/en_us/c/nikeplus-fuelband">Nike's FuelBand+ site</a> and modified for the purposes of this presentation. <br>
We make no claim to copyright for the site design or images of Nike FuelBand. All content was created by the project team. </span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>