<div class="nike-cq-container" data-component-container="true">
<h1>Credits</h1>
<p>This site design was copied from Nike's FuelBand and modified for the purposes of this presentation.  We make no claim to copyright for the site design or images of Nike FuelBand. All content was created by the project team.</p>
</div>