<div id="body">
    <div id='body-wrapper' class='fullheight'>
      <div id='body-liner' class="clear">
        <div id='content'>
          <noscript>
            <div id="noscript-content">
              <p>We’ve detected that your system does not have JavaScript enabled, which is required to purchase product and properly experience Nike.com.<br/>Please <a href="http://enable-javascript.com/">enable JavaScript in your browser</a> and refresh the page.</p>
            </div>
          </noscript>
          <a href="#" name="content" accesskey="2"></a>

          <span class='trackingData' id="cdpTrackingData" data-inline-style-allowed="true" style="display:none;">
  {"response":{"canonicalUrl":"http://www.nike.com/us/en_us/c/nikeplus-fuelband","contentPath":["nikeplus-fuelband"],"country":"US","defaultHomePage":"homepage","division":"brand","language":"en","pageType":"landing page","sportCategory":"nikeplus-fuelband","isSportCategory":true},"success":true}
</span>
<script language="javascript">
    window.nike = nike || {};
    nike.analytics = nike.analytics || {};
    nike.analytics.currentPageId = "cq_content";
</script>
<div class="nike-cq-content">
  <div class="device-type-desktop nike-cq-new-template nike-cq-nike-com-page nike-cq-lang-en nike-cq-en_US nike-cq-tesla-xml" data-experience-id="one-nike" data-locale="en_US" data-country="US" data-language="en" data-cq-url="http://www.nike.com" data-cq-ispreviewmode="false" data-follow-text="Follow [social channel]">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-optional-resource">
<section class="nike-cq-page-module nike-cq-active-page-title nike-cq-active-page-title-optional" data-module-name="Active Page Title" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-active-page-title-optional">
<div class="nike-cq-page-section-container nike-cq-active-page-title-container nike-cq-nike-com-container nike-cq-page-section-active-page-title-optional-container">
<div class="nike-cq-active-page-title-wrapper nike-cq-active-page-title-optional-wrapper">
<div class="nike-cq-active-page-title-title" data-component-container="true">
<header class="nike-cq-active-page-title-title-component nike-cq-active-page-title-title-header nike-cq-optional-active_page_title_op-active-page-title-title-resource page-header">
<h1 class="nike-cq-active-page-title-title-headline page-title"><span class="nike-cq-active-page-title-title-line nike-cq-active-page-title-title-line-1nike-cq-line1">COLLECTLET<span class="nikeplus">+</span></span></h1>
</header>
</div>
<div class="nike-cq-active-page-title-share" data-component-container="true"></div>
<div class="nike-cq-active-page-title-optional-right nike-cq-active-page-title-ctas">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-active-page-title-container-component nike-cq-optional-active_page_title_op-active-page-title-container-resource">
<div class="nike-cq-active-page-title-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class="nike-cq-active-page-title-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
<div class="nike-cq-active-page-title-text" data-component-container="true">
<div class="nike-cq-active-page-title-text-component nike-cq-optional-active_page_title_op-active-page-title-container-active_page_title_te-resource">
<p><br>

</p>
<p></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="uaxmEYej7z" class="nike-cq-container-module-anchor-link"></a></div>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-module-divider-false nike-cq-mod-pos-1 nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen_5-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/FuelBand-Gold-Launch/CDP-Update_v5_Final.jpg.dimg/1600x764q80.jpeg" data-src="" alt="CDP-Update_v5_Final.jpg" width="1600" height="764" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-right" data-alignment="right" data-column-position="4" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font20px nike-cq-nospacing nike-cq-platform-font-1">THE WORLD<span class="nikeplus"></span> IS </span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font50px nike-cq-spacingminus02px nike-cq-marketing-font-1">WITHIN ARM'S</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font50px nike-cq-spacing01px nike-cq-marketing-font-1">REACH</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-subtitle-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-subtitle-resource">
<h2 class="nike-cq-subtitle-headline nike-cq-subtitle-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-subtitle-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">Collective Internship</span> <span class="nike-cq-subtitle-line-2 nike-cq-title-line nike-cq-line2 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font12px nike-cq-spacing10px nike-cq-base-font-1">Summer 2014.</span></h2>
</div>
</div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen_5-attachments-resource"></div>
</div>
</div>
</section>

<section class="nike-cq-fst-carousel nike-cq-module-margin-0 nike-cq-page-module nike-cq-mod-pos-5 nike-cq-fst-image-carousel nike-cq-module-divider-false nike-cq-module-divider" data-module-name="FST Carousel" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-fst-image-carousel">
<div class="nike-cq-page-section-container nike-cq-nike-com-container nike-cq-page-section-fst-image-carousel-container">
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="-1" class="nike-cq-container-module-anchor-link"></a> <a name="-2" class="nike-cq-container-module-anchor-link"></a> <a name="-3" class="nike-cq-container-module-anchor-link"></a> <a name="-4" class="nike-cq-container-module-anchor-link"></a></div>
<div class="nike-cq-fst-image-carousel-content-wrapper">
<div class="nike-cq-fst-image-carousel-reference" data-component-container="true">
<div class="nike-cq-fst-image-carousel-reference-component nike-cq-optional-fst_image_carousel_0-fst-image-carousel-content-resource nike-cq-fst-image-carousel-content cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-carousel nike-cq-carousel-container nike-cq-element-reference">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-carousel-title-resource"></div>
</div>
<div class="nike-cq-carousel-base" data-component-container="true">
<div data-nike-cq-component-name="nike-cq-carousel" class="nike-cq-base-component nike-cq-carousel nike-cq-carousel-eta" data-carousel-style="eta" data-style="eta" data-wcmmode="DISABLED" data-advance-by="1" data-viewport-count="1" data-continuous-loop="" data-total-slides="4" data-slide-duration="4000" data-animation-duration="1000" data-auto-advance="" data-playback-controls="true" data-pagination-controls="true" data-transition-type="transitionFadeToColor" data-touch-controls="true" data-carousel-id="d917629e-94a2-4bbb-911b-6914408e1bb4">
<div class="nike-cq-carousel-component-collection">
<div class="nike-cq-carousel-slides nike-cq-carousel-slides-4">
<div class="nike-cq-carousel-slide-collection">
<div class="nike-cq-carousel-slide" data-slide-index="1"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="/img/slides/Slide2.jpg" data-src="" alt="smart_way_to_stay_active_fst.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="2"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="/img/slides/Slide13.jpg" data-src="" alt="NIKEPLUS_FB_2_CDP_P4_2.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-subtitle-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-subtitle-resource">
<h2 class="nike-cq-subtitle-headline nike-cq-subtitle-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-subtitle-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-4c18fedf-2347-4ded-8b0d-9cd8fd927600 nike-cq-font09px nike-cq-nospacing nike-cq-base-font-1">.</span></h2>
</div>
</div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="3"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="/img/slides/Slide27.jpg" href="/awesome" data-src="" alt="NIKEPLUS_FB_2_CDP_P4_3.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="4"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="/img/slides/shatner.jpg" data-src="" alt="NIKEPLUS_FB_2_CDP_P4_4.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-mod-pos-6 nike-cq-module-divider-false nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen_1-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P5.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P5.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-ffffff nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">MOAR CATS MOARRRRR!</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">See your progress on the LED display at the</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">press of a button. And with Bluetooth 4.0</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">you stay constantly connected, syncing the data</span> <span class="nike-cq-title-line-5 nike-cq-title-line nike-cq-line5 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">from your band with your Nike<span class="nikeplus">+</span> account and</span> <span class="nike-cq-title-line-6 nike-cq-title-line nike-cq-line6 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">giving you feedback and motivation as you need it.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen_1-attachments-resource"></div>
</div>
</div>
</section>
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="S0GViiUrwh" class="nike-cq-container-module-anchor-link"></a></div>
<section class="nike-cq-fst-carousel nike-cq-mod-pos-7 nike-cq-module-margin-0 nike-cq-page-module nike-cq-fst-image-carousel nike-cq-module-divider-false nike-cq-module-divider" data-module-name="FST Carousel" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-fst-image-carousel">
<div class="nike-cq-page-section-container nike-cq-nike-com-container nike-cq-page-section-fst-image-carousel-container">
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="S0GViiUrwh-1" class="nike-cq-container-module-anchor-link"></a> <a name="S0GViiUrwh-2" class="nike-cq-container-module-anchor-link"></a> <a name="S0GViiUrwh-3" class="nike-cq-container-module-anchor-link"></a> <a name="S0GViiUrwh-4" class="nike-cq-container-module-anchor-link"></a></div>
<div class="nike-cq-fst-image-carousel-content-wrapper">
<div class="nike-cq-fst-image-carousel-reference" data-component-container="true">
<div class="nike-cq-fst-image-carousel-reference-component nike-cq-optional-fst_image_carousel_1-fst-image-carousel-content-resource nike-cq-fst-image-carousel-content cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-carousel nike-cq-carousel-container nike-cq-element-reference">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-carousel-title-resource"></div>
</div>
<div class="nike-cq-carousel-base" data-component-container="true">
<div data-nike-cq-component-name="nike-cq-carousel" class="nike-cq-base-component nike-cq-carousel nike-cq-carousel-eta" data-carousel-style="eta" data-style="eta" data-wcmmode="DISABLED" data-advance-by="1" data-viewport-count="1" data-continuous-loop="" data-total-slides="4" data-slide-duration="4000" data-animation-duration="1000" data-auto-advance="" data-playback-controls="true" data-pagination-controls="true" data-transition-type="transitionFadeToColor" data-touch-controls="true" data-carousel-id="25cf8209-390e-4d9b-837e-8a5c58acbdbe">
<div class="nike-cq-carousel-component-collection">
<div class="nike-cq-carousel-slides nike-cq-carousel-slides-4">
<div class="nike-cq-carousel-slide-collection">
<div class="nike-cq-carousel-slide" data-slide-index="1"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_1.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_1.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">MORE FUN WITH FRIENDS AND CHALLENGES</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">The new Nike<span class="nikeplus">+</span> FuelBand opens up more</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">ways to connect with your friends so you</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">can keep each other going. Create or join</span> <span class="nike-cq-title-line-5 nike-cq-title-line nike-cq-line5 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">a group and go after a goal together.</span> <span class="nike-cq-title-line-6 nike-cq-title-line nike-cq-line6 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Share your progress, cheer each other on</span> <span class="nike-cq-title-line-7 nike-cq-title-line nike-cq-line7 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">and compete for top slot on the leaderboard.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="2"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_2.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_2.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">LEADERBOARD</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">With group goals, you can get to green</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">together. Or compete individually for</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">the top slot on the leader board.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="3"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_3.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_3.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">NIKE<span class="nikeplus">+</span> TROPHIES</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Get extra motivation to go beyond green,</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">collect trophies and unlock special celebrations.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="4"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_4.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_4.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">MILESTONES</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Celebrate reaching your goals with new</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">milestones and on-band animations.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

</div>
  

  

  

  
    
      <script defer="defer" type="text/javascript" src="http://www.nike.com/etc/designs/nike/pes/nike.tesla.footer.js?buildRev=210034" ></script>
    
      <script defer="defer" type="text/javascript" src="http://www.nike.com/apps/nike/ui/v4/nike.tesla.shared.js?buildRev=210034" ></script>
    
      <script defer="defer" type="text/javascript" src="http://www.nike.com/etc/designs/nike/one-nike/nike.tesla.one-nike.js?buildRev=210034" ></script>
    
  

  <script type="text/javascript" language="JavaScript">
    
      nike.loadExternalResources("http://store.nike.com/cms/analytics-store-desktop.js?buildRev=210034");
    
      nike.exp.global.FunctionalAndPerformance.init();
  </script>

  
    <script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" + "js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-5.newrelic.com","7a3e5186c9","4505511,4505519","ZABUMEFQDxBXU0dfC11KZAFCRAQQQnFHQhZaB0MQVh4JF1tcCVUAQ0hVC11FEwxaXFZE",1,20,new Date().getTime(),"","","","",""]);</script>
  
</body>
</html>
