<div width="1000" height="500">
<img src="img/slides/Slide13.jpg" width="1275" height="800">
<img src="img/slides/Slide14.jpg" width="1275" height="800">
<img src="img/slides/Slide15.jpg" width="1275" height="800">
<img src="img/slides/Slide16.jpg" width="1275" height="800">
<img src="img/slides/Slide17.jpg" width="1275" height="800">
<img src="img/slides/Slide18.jpg" width="1275" height="800">
<img src="img/slides/Slide19.jpg" width="1275" height="800">
<img src="img/slides/Slide20.jpg" width="1275" height="800">
<img src="img/slides/Slide21.jpg" width="1275" height="800">
<img src="img/slides/Slide22.jpg" width="1275" height="800">
<img src="img/slides/Slide23.jpg" width="1275" height="800">
<img src="img/slides/Slide24.jpg" width="1275" height="800">
<img src="img/slides/Slide25.jpg" width="1275" height="800">
<img src="img/slides/Slide26.jpg" width="1275" height="800">
</div>