<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie ie6 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]>   <html class="no-js ie9 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US"  xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#"  ><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js en_us" xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en_US" lang="en_US"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
  <title>Collective Internship Case Study: 2014 + Chen, Fallon, Yu + </title>
  <meta name="revisit-after" content="30 days" />
  
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
      <meta name="revisit-after" content="30 days" />
  
      <meta name="country" content="US" />
  
      <meta http-equiv="content-language" content="en" />
  
      <meta name="title" content="Collective Case Study: Steven Chen, Tessa Fallon, Stephanie Yu" />
  
      <meta property="og:locale" content="en_US" />
  
      <meta name="description" content="2014 Case Study presentation" />
  
      <meta property="og:title" content="Nike+ Fuelband SE. Activity Tracker & Fitness Monitor" />
  
      <meta property="og:image" content="http://www.nike.com/content/dam/one-nike/en_us/fuelband/1381957_509947459095460_217449504_n-1.jpg" />
  
      <meta property="og:url" content="http://www.nike.com/us/en_us/c/nikeplus-fuelband" />
  
      <meta property="og:description" content="Track how much, how often and how intensely you move with the Nike+ Fuelband SE. Earn NikeFuel and stay active by setting goals and challenging friends." />
  

  
  <script type="text/javascript" src="http://store.nike.com/common/scripts/device_detect.js?buildRev=210034"></script>
  <script>
    window.nike.exp.script.device_detect.redirectOnAgentMismatch('false', 'http://m.nike.com/us/en_us/c/nikeplus-fuelband');
  </script>

  
  <script type="text/javascript">
  var nsgConfig = {
    HOST: 'https://www.nike.com'
  };
  </script>
  <script type="text/javascript" src="https://www.nike.com/styleguide/init/nsg.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index,follow" />

  
      <link rel="canonical" href="http://www.nike.com/us/en_us/c/nikeplus-fuelband" />
  

  
      <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.nike.com/us/en_us/c/nikeplus-fuelband" />
  

  <link rel="stylesheet" type="text/css" media="screen" href="http://store.nike.com/us/en_us/style.css?assets=nike,jQuery,nike.ScriptLoader,nike.EventBus,nike.page.OneNikeShell,nike.page.OneNikePageLayout,nike.fonts.glyphPolyfill,nike.exp.global.Ad,nike.exp.global.FunctionalAndPerformance,nike.style.exp.exp-desktop,nike.style.nsg.font.desktop-font-en_us&assetType=STYLE&buildRev=210034" />

  

  
    
      <link href="http://www.nike.com/etc/designs/nike/colors.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/etc/designs/nike/pes/nike.tesla.footer.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/apps/nike/ui/v4/nike.tesla.shared.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/etc/designs/nike/one-nike/nike.tesla.one-nike.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
  

  <script type="text/javascript" src="http://store.nike.com/us/en_us/NikeScriptManager.js?assets=nike,jQuery,nike.ScriptLoader,nike.EventBus,nike.page.OneNikeShell,nike.page.OneNikePageLayout,nike.fonts.glyphPolyfill,nike.exp.global.Ad,nike.exp.global.FunctionalAndPerformance,nike.style.exp.exp-desktop,nike.style.nsg.font.desktop-font-en_us&assetType=SCRIPT&buildRev=210034"></script>
  
  <script type="text/javascript" src="//tags.tiqcdn.com/utag/nike/main/prod/utag.js"></script>

</head>
<body class="exp-extended-nav">
  


  


  
    <div id="hidden-ada-store-link" class="ada-hidden">
      <a href="http://store.nike.com/us/en_us/?route=ada">Click for a different version of this web site containing similar content optimized for screen readers</a>
    </div>
    <a class="ada-hidden" title="Return home" href=".">RETURN HOME</a>
    <a class="ada-hidden" title="Skip to main content" href="#content">SKIP TO MAIN CONTENT</a>
  

  <div data-gadget="nike.gadget.OneNikeNav" data-load="preloaded">
    






<nav class="gnav en" data-qa="globalnav.container" data-handlebars="true">
    
        <div class="exp-darkbar" data-qa="darkbar.container">
            <div class="exp-darkbar-left-section">
                <div class="active"><a href="/credits"><span class="facet-label nsg-text--nike-orange nsg-button-font-size--xsmall nsg-font-family--platform" data-qa="darkbar.shop">Credits</span></a></div>
                <div><a data-track-click="true" data-nav-tracking="nike plus" href="/team"><span class="facet-label nsg-text--nike-white nsg-button-font-size--xsmall nsg-font-family--platform" data-qa="darkbar.nikeplus">Project Team</span></a></div>
            </div>
        </div>
            

      
    <div class="tier0">
        <div class="home facet nav-section no-subnav">
            <a href="/" data-brand-url="http://www.nike.com/us/en_us/" data-nav-tracking="home" data-track-click="true">
            <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    HOME
                  <span class="nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="simplicity"
              >

            <a href="/simplicity"  data-nav-tracking="simplicity" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    SIMPLICITY 
                  
                  <span class="nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="interactivity"
              >

            <a href="/interactivity"  data-nav-tracking="interactivity" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    INTERACTIVITY
                  
                  <span class="nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="personalization"
              >

            <a href="/personalization"  data-nav-tracking="personalization" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    PERSONALIZATION 
                  
                  <span class="nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
    </div>
</nav>

</div>
  <div data-gadget="nike.gadget.LoadingScreen" data-load="preloaded" class="loading-screen">
    <div class="loading-overlay"></div>
  </div>

<%= yield %>