<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie ie6 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]>   <html class="no-js ie9 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US"  xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#"  ><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js en_us" xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en_US" lang="en_US"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
  <title>Collective Internship Case Study: 2014 + Chen, Fallon, Yu + </title>
  <meta name="revisit-after" content="30 days" />
  
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
      <meta name="revisit-after" content="30 days" />
  
      <meta name="country" content="US" />
  
      <meta http-equiv="content-language" content="en" />
  
      <meta name="title" content="Collective Case Study: Steven Chen, Tessa Fallon, Stephanie Yu" />
  
      <meta property="og:locale" content="en_US" />
  
      <meta name="description" content="2014 Case Study presentation" />
  
      <meta property="og:title" content="Nike+ Fuelband SE. Activity Tracker & Fitness Monitor" />
  
      <meta property="og:image" content="http://www.nike.com/content/dam/one-nike/en_us/fuelband/1381957_509947459095460_217449504_n-1.jpg" />
  
      <meta property="og:url" content="http://www.nike.com/us/en_us/c/nikeplus-fuelband" />
  
      <meta property="og:description" content="Track how much, how often and how intensely you move with the Nike+ Fuelband SE. Earn NikeFuel and stay active by setting goals and challenging friends." />
  

  
  <script type="text/javascript" src="http://store.nike.com/common/scripts/device_detect.js?buildRev=210034"></script>
  <script>
    window.nike.exp.script.device_detect.redirectOnAgentMismatch('false', 'http://m.nike.com/us/en_us/c/nikeplus-fuelband');
  </script>

  
  <script type="text/javascript">
  var nsgConfig = {
    HOST: 'https://www.nike.com'
  };
  </script>
  <script type="text/javascript" src="https://www.nike.com/styleguide/init/nsg.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index,follow" />

  
      <link rel="canonical" href="http://www.nike.com/us/en_us/c/nikeplus-fuelband" />
  

  
      <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.nike.com/us/en_us/c/nikeplus-fuelband" />
  

  <link rel="stylesheet" type="text/css" media="screen" href="http://store.nike.com/us/en_us/style.css?assets=nike,jQuery,nike.ScriptLoader,nike.EventBus,nike.page.OneNikeShell,nike.page.OneNikePageLayout,nike.fonts.glyphPolyfill,nike.exp.global.Ad,nike.exp.global.FunctionalAndPerformance,nike.style.exp.exp-desktop,nike.style.nsg.font.desktop-font-en_us&assetType=STYLE&buildRev=210034" />

  

  
    
      <link href="http://www.nike.com/etc/designs/nike/colors.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/etc/designs/nike/pes/nike.tesla.footer.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/apps/nike/ui/v4/nike.tesla.shared.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/etc/designs/nike/one-nike/nike.tesla.one-nike.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
  

  <script type="text/javascript" src="http://store.nike.com/us/en_us/NikeScriptManager.js?assets=nike,jQuery,nike.ScriptLoader,nike.EventBus,nike.page.OneNikeShell,nike.page.OneNikePageLayout,nike.fonts.glyphPolyfill,nike.exp.global.Ad,nike.exp.global.FunctionalAndPerformance,nike.style.exp.exp-desktop,nike.style.nsg.font.desktop-font-en_us&assetType=SCRIPT&buildRev=210034"></script>
  
  <script type="text/javascript" src="//tags.tiqcdn.com/utag/nike/main/prod/utag.js"></script>

</head>
<body class="exp-extended-nav">
  


  


  
    <div id="hidden-ada-store-link" class="ada-hidden">
      <a href="http://store.nike.com/us/en_us/?route=ada">Click for a different version of this web site containing similar content optimized for screen readers</a>
    </div>
    <a class="ada-hidden" title="Return home" href=".">RETURN HOME</a>
    <a class="ada-hidden" title="Skip to main content" href="#content">SKIP TO MAIN CONTENT</a>
  

  <div data-gadget="nike.gadget.OneNikeNav" data-load="preloaded">
    






<nav class="gnav en" data-qa="globalnav.container" data-handlebars="true">
    
        <div class="exp-darkbar" data-qa="darkbar.container">
            <div class="exp-darkbar-left-section">
                <div class="active"><span class="facet-label nsg-text--nike-orange nsg-button-font-size--xsmall nsg-font-family--platform" data-qa="darkbar.shop">SHOP</span></div>
                <div><a data-track-click="true" data-nav-tracking="nike plus" href="http://nikeplus.nike.com/plus/"><span class="facet-label nsg-text--nike-white nsg-button-font-size--xsmall nsg-font-family--platform" data-qa="darkbar.nikeplus">Tessa!!!!</span></a></div>
            </div>
        </div>
            

      
    <div class="tier0">
        <div class="home facet nav-section no-subnav">
            <a href="http://www.nike.com/us/en_us/" data-brand-url="http://www.nike.com/us/en_us/" data-nav-tracking="home" data-track-click="true">
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="simplcity"
              >

            <a href="/simplicity"  data-nav-tracking="simplcity" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    SIMPLCITY 
                  
                  <span class="nsg-glyph--arrow-down nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="interactivity"
              >

            <a href="/interactivity"  data-nav-tracking="interactivity" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    INTERACTIVITY
                  
                  <span class="nsg-glyph--arrow-down nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="personalization"
              >

            <a href="/personalization"  data-nav-tracking="personalization" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    PERSONALIZATION 
                  
                  <span class="nsg-glyph--arrow-down nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
    </div>
</nav>

</div>
  <div data-gadget="nike.gadget.LoadingScreen" data-load="preloaded" class="loading-screen">
    <div class="loading-overlay"></div>
  </div>

  <div id="body">
    <div id='body-wrapper' class='fullheight'>
      <div id='body-liner' class="clear">
        <div id='content'>
          <noscript>
            <div id="noscript-content">
              <p>We’ve detected that your system does not have JavaScript enabled, which is required to purchase product and properly experience Nike.com.<br/>Please <a href="http://enable-javascript.com/">enable JavaScript in your browser</a> and refresh the page.</p>
            </div>
          </noscript>
          <a href="#" name="content" accesskey="2"></a>

          <span class='trackingData' id="cdpTrackingData" data-inline-style-allowed="true" style="display:none;">
  {"response":{"canonicalUrl":"http://www.nike.com/us/en_us/c/nikeplus-fuelband","contentPath":["nikeplus-fuelband"],"country":"US","defaultHomePage":"homepage","division":"brand","language":"en","pageType":"landing page","sportCategory":"nikeplus-fuelband","isSportCategory":true},"success":true}
</span>
<script language="javascript">
    window.nike = nike || {};
    nike.analytics = nike.analytics || {};
    nike.analytics.currentPageId = "cq_content";
</script>
<div class="nike-cq-content">
  <div class="device-type-desktop nike-cq-new-template nike-cq-nike-com-page nike-cq-lang-en nike-cq-en_US nike-cq-tesla-xml" data-experience-id="one-nike" data-locale="en_US" data-country="US" data-language="en" data-cq-url="http://www.nike.com" data-cq-ispreviewmode="false" data-follow-text="Follow [social channel]">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-optional-resource">
<section class="nike-cq-page-module nike-cq-active-page-title nike-cq-active-page-title-optional" data-module-name="Active Page Title" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-active-page-title-optional">
<div class="nike-cq-page-section-container nike-cq-active-page-title-container nike-cq-nike-com-container nike-cq-page-section-active-page-title-optional-container">
<div class="nike-cq-active-page-title-wrapper nike-cq-active-page-title-optional-wrapper">
<div class="nike-cq-active-page-title-title" data-component-container="true">
<header class="nike-cq-active-page-title-title-component nike-cq-active-page-title-title-header nike-cq-optional-active_page_title_op-active-page-title-title-resource page-header">
<h1 class="nike-cq-active-page-title-title-headline page-title"><span class="nike-cq-active-page-title-title-line nike-cq-active-page-title-title-line-1nike-cq-line1">SUPER FANCY<span class="nikeplus"></span> BRACELET THING</span></h1>
</header>
</div>
<div class="nike-cq-active-page-title-share" data-component-container="true"></div>
<div class="nike-cq-active-page-title-optional-right nike-cq-active-page-title-ctas">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-active-page-title-container-component nike-cq-optional-active_page_title_op-active-page-title-container-resource">
<div class="nike-cq-active-page-title-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class="nike-cq-cta-component nike-cq-active-page-title-cta-component nike-cq-optional-active_page_title_op-active-page-title-container-active_page_title_ct-resource nike-cq-cta-text-color-ffffff nike-cq-cta-text-size-14 nike-cq-cta-style-rounded nike-cq-cta-width-None nike-cq-cta-height-40 nike-cq-cta-color-00a4e4 nike-cq-cta-alignment-textcenter nike-cq-cta-icon-empty"><a href="http://store.nike.com/us/en_us/pw/fuelband/90w" data-tracking="SHOP NOW"><span>CLICK HERE IF YOU'RE AWESOME</span></a></div>
</div>
<div class="nike-cq-active-page-title-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
<div class="nike-cq-active-page-title-text" data-component-container="true">
<div class="nike-cq-active-page-title-text-component nike-cq-optional-active_page_title_op-active-page-title-container-active_page_title_te-resource">
<p><br>

</p>
<p></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="uaxmEYej7z" class="nike-cq-container-module-anchor-link"></a></div>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-module-divider-false nike-cq-mod-pos-1 nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen_5-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/FuelBand-Gold-Launch/CDP-Update_v5_Final.jpg.dimg/1600x764q80.jpeg" data-src="" alt="CDP-Update_v5_Final.jpg" width="1600" height="764" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-right" data-alignment="right" data-column-position="4" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font20px nike-cq-nospacing nike-cq-platform-font-1">THIS<span class="nikeplus"></span> IS </span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font50px nike-cq-spacingminus02px nike-cq-marketing-font-1">OUR PRODUCT</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font50px nike-cq-spacing01px nike-cq-marketing-font-1">PAGE</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-subtitle-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-subtitle-resource">
<h2 class="nike-cq-subtitle-headline nike-cq-subtitle-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-subtitle-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">Collective Internship</span> <span class="nike-cq-subtitle-line-2 nike-cq-title-line nike-cq-line2 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font12px nike-cq-spacing10px nike-cq-base-font-1">Summer 2014.</span></h2>
</div>
</div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen_5-attachments-resource"></div>
</div>
</div>
</section>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-module-divider-false nike-cq-mod-pos-2 nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen_8-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<!-- THIS IS WHERE OUR FIRST BACKGROUND IMAGE GOES -->
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/FuelBand-Android/new_fst_android.jpg.dimg/1600x764q80.jpeg" data-src="" alt="new_fst_android.jpg" width="1600" height="764" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font20px nike-cq-spacingminus01px nike-cq-platform-font-1">SIMPLICTY<span class="nikeplus"></span> Here is the tagline for simplicity section</span> </h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-subtitle-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-subtitle-resource">
<h2 class="nike-cq-subtitle-headline nike-cq-subtitle-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-subtitle-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-nospacing nike-cq-base-font-1">This will be the paragraph of text describing the simplicity section</span> <span class="nike-cq-subtitle-line-2 nike-cq-title-line nike-cq-line2 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-nospacing nike-cq-base-font-1">The end.</span></h2>
</div>
</div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class=" nike-cq-cta-component nike-cq-cta-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-cta-0-resource nike-cq-cta-text-color-ffffff nike-cq-cta-text-size-15 nike-cq-cta-style-rounded nike-cq-cta-width-None nike-cq-cta-height-40 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-cta-alignment-textcenter nike-cq-cta-icon-empty"><a href="/simplicity" data-tracking="LEARN MORE"><span>LEARN MORE</span></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen_8-attachments-resource"></div>
</div>
</div>
</section>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-mod-pos-3 nike-cq-module-divider-false nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="/img/img01_simp01.png" data-src="" alt="NIKEPLUS_FB_2_CDP_P2.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font09px nike-cq-nospacing nike-cq-base-font-1">.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen-attachments-resource"></div>
</div>
</div>
</section>
</section>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-mod-pos-3 nike-cq-module-divider-false nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="/img/img02_int01.png" data-src="" alt="NIKEPLUS_FB_2_CDP_P2.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-7f0b9b05-16a2-4f49-9bda-5a26c33380cf nike-cq-font09px nike-cq-nospacing nike-cq-base-font-1">.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen-attachments-resource"></div>
</div>
</div>
</section>
<section class="nike-cq-fst-carousel nike-cq-module-margin-0 nike-cq-page-module nike-cq-mod-pos-5 nike-cq-fst-image-carousel nike-cq-module-divider-false nike-cq-module-divider" data-module-name="FST Carousel" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-fst-image-carousel">
<div class="nike-cq-page-section-container nike-cq-nike-com-container nike-cq-page-section-fst-image-carousel-container">
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="-1" class="nike-cq-container-module-anchor-link"></a> <a name="-2" class="nike-cq-container-module-anchor-link"></a> <a name="-3" class="nike-cq-container-module-anchor-link"></a> <a name="-4" class="nike-cq-container-module-anchor-link"></a></div>
<div class="nike-cq-fst-image-carousel-content-wrapper">
<div class="nike-cq-fst-image-carousel-reference" data-component-container="true">
<div class="nike-cq-fst-image-carousel-reference-component nike-cq-optional-fst_image_carousel_0-fst-image-carousel-content-resource nike-cq-fst-image-carousel-content cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-carousel nike-cq-carousel-container nike-cq-element-reference">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-carousel-title-resource"></div>
</div>
<div class="nike-cq-carousel-base" data-component-container="true">
<div data-nike-cq-component-name="nike-cq-carousel" class="nike-cq-base-component nike-cq-carousel nike-cq-carousel-eta" data-carousel-style="eta" data-style="eta" data-wcmmode="DISABLED" data-advance-by="1" data-viewport-count="1" data-continuous-loop="" data-total-slides="4" data-slide-duration="4000" data-animation-duration="1000" data-auto-advance="" data-playback-controls="true" data-pagination-controls="true" data-transition-type="transitionFadeToColor" data-touch-controls="true" data-carousel-id="d917629e-94a2-4bbb-911b-6914408e1bb4">
<div class="nike-cq-carousel-component-collection">
<div class="nike-cq-carousel-slides nike-cq-carousel-slides-4">
<div class="nike-cq-carousel-slide-collection">
<div class="nike-cq-carousel-slide" data-slide-index="1"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/FuelBand-Android/smart_way_to_stay_active_fst.jpg.dimg/1600x900q80.jpeg" data-src="" alt="smart_way_to_stay_active_fst.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">GIVE ME A KITTEN!</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">The new Nike<span class="nikeplus">+</span> FuelBand SE now tracks not</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">only how much, but also how often and how</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">intensely you move. And it gives you real-time</span> <span class="nike-cq-title-line-5 nike-cq-title-line nike-cq-line5 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">feedback, move reminders and insights to</span> <span class="nike-cq-title-line-6 nike-cq-title-line nike-cq-line6 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">help you move more and move better.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="2"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P4_2.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P4_2.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">A DAILY GOAL GETS YOU MOVING</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Set a daily goal for how active you want</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">to be and track your progress throughout</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">the day as you move from red to green.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-subtitle-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-subtitle-resource">
<h2 class="nike-cq-subtitle-headline nike-cq-subtitle-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-subtitle-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-4c18fedf-2347-4ded-8b0d-9cd8fd927600 nike-cq-font09px nike-cq-nospacing nike-cq-base-font-1">.</span></h2>
</div>
</div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="3"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P4_3.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P4_3.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">WIN THE HOUR</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Get more out of your activity when you</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">spread it throughout the day. Receive</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">move reminders that give you an extra</span> <span class="nike-cq-title-line-5 nike-cq-title-line nike-cq-line5 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">push to get you moving every hour.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="4"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P4_4.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P4_4.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">NIKE<span class="nikeplus">+</span> SESSIONS</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Keep track of your intensity during a</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">workout through NikeFuel Rate and</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">see your total NikeFuel earned during</span> <span class="nike-cq-title-line-5 nike-cq-title-line nike-cq-line5 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">the session. Then you can understand</span> <span class="nike-cq-title-line-6 nike-cq-title-line nike-cq-line6 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">which activities earn you the most.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-mod-pos-6 nike-cq-module-divider-false nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen_1-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P5.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P5.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-ffffff nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">MOAR CATS MOARRRRR!</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">See your progress on the LED display at the</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">press of a button. And with Bluetooth 4.0</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">you stay constantly connected, syncing the data</span> <span class="nike-cq-title-line-5 nike-cq-title-line nike-cq-line5 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">from your band with your Nike<span class="nikeplus">+</span> account and</span> <span class="nike-cq-title-line-6 nike-cq-title-line nike-cq-line6 nike-cq-ffffff nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">giving you feedback and motivation as you need it.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen_1-attachments-resource"></div>
</div>
</div>
</section>
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="S0GViiUrwh" class="nike-cq-container-module-anchor-link"></a></div>
<section class="nike-cq-fst-carousel nike-cq-mod-pos-7 nike-cq-module-margin-0 nike-cq-page-module nike-cq-fst-image-carousel nike-cq-module-divider-false nike-cq-module-divider" data-module-name="FST Carousel" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-fst-image-carousel">
<div class="nike-cq-page-section-container nike-cq-nike-com-container nike-cq-page-section-fst-image-carousel-container">
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="S0GViiUrwh-1" class="nike-cq-container-module-anchor-link"></a> <a name="S0GViiUrwh-2" class="nike-cq-container-module-anchor-link"></a> <a name="S0GViiUrwh-3" class="nike-cq-container-module-anchor-link"></a> <a name="S0GViiUrwh-4" class="nike-cq-container-module-anchor-link"></a></div>
<div class="nike-cq-fst-image-carousel-content-wrapper">
<div class="nike-cq-fst-image-carousel-reference" data-component-container="true">
<div class="nike-cq-fst-image-carousel-reference-component nike-cq-optional-fst_image_carousel_1-fst-image-carousel-content-resource nike-cq-fst-image-carousel-content cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-carousel nike-cq-carousel-container nike-cq-element-reference">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-carousel-title-resource"></div>
</div>
<div class="nike-cq-carousel-base" data-component-container="true">
<div data-nike-cq-component-name="nike-cq-carousel" class="nike-cq-base-component nike-cq-carousel nike-cq-carousel-eta" data-carousel-style="eta" data-style="eta" data-wcmmode="DISABLED" data-advance-by="1" data-viewport-count="1" data-continuous-loop="" data-total-slides="4" data-slide-duration="4000" data-animation-duration="1000" data-auto-advance="" data-playback-controls="true" data-pagination-controls="true" data-transition-type="transitionFadeToColor" data-touch-controls="true" data-carousel-id="25cf8209-390e-4d9b-837e-8a5c58acbdbe">
<div class="nike-cq-carousel-component-collection">
<div class="nike-cq-carousel-slides nike-cq-carousel-slides-4">
<div class="nike-cq-carousel-slide-collection">
<div class="nike-cq-carousel-slide" data-slide-index="1"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_1.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_1.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">MORE FUN WITH FRIENDS AND CHALLENGES</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">The new Nike<span class="nikeplus">+</span> FuelBand opens up more</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">ways to connect with your friends so you</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">can keep each other going. Create or join</span> <span class="nike-cq-title-line-5 nike-cq-title-line nike-cq-line5 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">a group and go after a goal together.</span> <span class="nike-cq-title-line-6 nike-cq-title-line nike-cq-line6 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Share your progress, cheer each other on</span> <span class="nike-cq-title-line-7 nike-cq-title-line nike-cq-line7 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">and compete for top slot on the leaderboard.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="2"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_2.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_2.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">LEADERBOARD</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">With group goals, you can get to green</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">together. Or compete individually for</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">the top slot on the leader board.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="3"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_3.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_3.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">NIKE<span class="nikeplus">+</span> TROPHIES</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Get extra motivation to go beyond green,</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">collect trophies and unlock special celebrations.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="nike-cq-carousel-slide" data-slide-index="4"><!-- This page used to display an error message and prevent video slides from rendering --><!-- Now it accepts both -->
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<div class=" nike-cq-page-section-container nike-cq-full-screen-container">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P6_4.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P6_4.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">MILESTONES</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Celebrate reaching your goals with new</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">milestones and on-band animations.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="nike-cq-mod-pos-8 nike-cq-full-screen nike-cq-module-margin-0 nike-cq-page-module nike-cq-module-divider-false nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen_6-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/NIKEPLUS_FB_2_CDP_P7_5.jpg.dimg/1600x900q80.jpeg" data-src="" alt="NIKEPLUS_FB_2_CDP_P7_5.jpg" width="1600" height="900" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-333333 nike-cq-font18px nike-cq-spacing06px nike-cq-platform-font-1">NIKE<span class="nikeplus">+</span> FUELBAND SE</span> <span class="nike-cq-title-line-2 nike-cq-title-line nike-cq-line2 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">$99</span> <span class="nike-cq-title-line-3 nike-cq-title-line nike-cq-line3 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Available in Volt, Pink Foil,</span> <span class="nike-cq-title-line-4 nike-cq-title-line nike-cq-line4 nike-cq-333333 nike-cq-font12px nike-cq-spacing03px nike-cq-base-font-1">Total Crimson and Black.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true"></div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class=" nike-cq-cta-component nike-cq-cta-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-cta-0-resource nike-cq-cta-text-color-ffffff nike-cq-cta-text-size-15 nike-cq-cta-style-curved nike-cq-cta-width-150 nike-cq-cta-height-28 nike-cq-cta-color-333333 nike-cq-cta-alignment-textlefticonfarright nike-cq-cta-icon-arrowwhiteright"><a href="http://store.nike.com/us/en_us/pd/nike-fuelband-se/pid-924485/pgid-924484" data-tracking="SHOP NOW"><span>SHOP NOW</span></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen_6-attachments-resource"></div>
</div>
</div>
</section>
<div class="nike-cq-container-module-anchor-link-wrapper"><a name="FBVF3F5qpU" class="nike-cq-container-module-anchor-link"></a></div>
<section class="nike-cq-full-screen nike-cq-module-margin-0 nike-cq-mod-pos-9 nike-cq-page-module nike-cq-module-divider-false nike-cq-module-divider" data-module-name="Full Screen Tout" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-full-screen">
<div class="nike-cq-fst-reference" data-component-container="true">
<div class="nike-cq-fst-reference-component nike-cq-optional-full_screen_7-fst-resource nike-cq-fst cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-fst-toggle nike-cq-fst-toggle-container nike-cq-element-reference">
<div class="nike-cq-tout-toggle-container nike-cq-toggle" data-nike-cq-component-name="nike-cq-tout-toggle" data-component-container="true">
<div class="nike-cq-toggle-wrapper">
<div class="nike-cq-toggle-component nike-cq-toggle-layout-1 nike-cq-toggle-length-2 nike-cq-touts-toggle-resource">
<nav><span class="toggle-label-selection"><span class="marker"></span></span> 
<ul>
<li data-id="1" class="toggle-label-container toggle-label-container-first"><a href="#1" data-tout-id="nike-cq-touts-tout-1"><span>Android</span></a></li>
<li data-id="2" class="toggle-label-container toggle-label-container-last"><a href="#2" data-tout-id="nike-cq-touts-tout-2"><span>iPhone</span></a></li>
</ul>
</nav>
</div>
</div>
<div class="indexed-pes-reference" data-pes-reference-index="1">
<div class="nike-cq-pes-reference" data-component-container="true">
<div class="nike-cq-pes-reference-component nike-cq-touts-tout-1-resource nike-cq-touts-tout-1 cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/FuelBand-Android/tabs_android.jpg.dimg/1600x580q80.jpeg" data-src="" alt="tabs_android.jpg" width="1600" height="580" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font20px nike-cq-spacing06px nike-cq-platform-font-1">INTRODUCING NIKE<span class="nikeplus">+</span> FUELBAND SE FOR DOGS.</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-subtitle-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-subtitle-resource">
<h2 class="nike-cq-subtitle-headline nike-cq-subtitle-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-subtitle-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• NikeFuel Daily Goal: Set and update your daily goal and track your progress over time.</span> <span class="nike-cq-subtitle-line-2 nike-cq-title-line nike-cq-line2 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Win the Hour: Receive Move reminders that give you an extra push to get you moving every hour.</span> <span class="nike-cq-subtitle-line-3 nike-cq-title-line nike-cq-line3 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Nike<span class="nikeplus">+</span> Sessions: Keep track of the intensity of your workouts through NikeFuel so you can</span> <span class="nike-cq-subtitle-line-4 nike-cq-title-line nike-cq-line4 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">understand what activities earn you the most.</span> <span class="nike-cq-subtitle-line-5 nike-cq-title-line nike-cq-line5 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Always connected: Bluetooth 4.0 technology allows you to stay constantly connected to your</span> <span class="nike-cq-subtitle-line-6 nike-cq-title-line nike-cq-line6 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">phone, receiving feedback and motivation as you need it.</span> <span class="nike-cq-subtitle-line-7 nike-cq-title-line nike-cq-line7 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Optimize handsets: The Nike<span class="nikeplus">+</span> FuelBand App is optimized for Samsung Galaxy S3,</span> <span class="nike-cq-subtitle-line-8 nike-cq-title-line nike-cq-line8 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">Samsung Galaxy S4, Samsung Galaxy S5, HTC One, Nexus 5, Moto X.</span> <span class="nike-cq-subtitle-line-9 nike-cq-title-line nike-cq-line9 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Compatible Android operating system: The Nike<span class="nikeplus">+</span> FuelBand App runs on Jelly Bean 4.3 and above.</span> <span class="nike-cq-subtitle-line-10 nike-cq-title-line nike-cq-line10 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Compatible Nike<span class="nikeplus">+</span> device. The Nike<span class="nikeplus">+</span> FuelBand App is compatible with the Nike<span class="nikeplus">+</span> FuelBand SE.</span></h2>
</div>
</div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class=" nike-cq-cta-component nike-cq-cta-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-cta-0-resource nike-cq-cta-preset-cta nike-cq-cta-preset-android"><a href="https://play.google.com/store/apps/details?id=com.nike.fb" data-tracking="View in Android store" target="_blank"><img src="//www.nike.com/etc/designs/nike/images/cta-preset-images/android/android_app_on_play_logo_small_EN.png" alt="View in Android store">
</a></div>
<div class=" nike-cq-cta-preset-not-available-message">App unavailable for this device</div>
<div class=" nike-cq-cta-preset-get-the-app-message">GET THE APP</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="indexed-pes-reference" data-pes-reference-index="2">
<div class="nike-cq-pes-reference" data-component-container="true">
<div class="nike-cq-pes-reference-component nike-cq-touts-tout-2-resource nike-cq-touts-tout-2 cq-dd-touts cq-dd-fsts cq-dd-carousels cq-dd-benefits cq-dd-misc nike-cq-full-screen nike-cq-full-screen-container nike-cq-element-reference">
<div class="nike-cq-fst" data-nike-cq-component-name="nike-cq-full-screen" data-component-container="true">
<div class="nike-cq-fst-component" data-background-color="FFFFFF">
<div class="nike-cq-background-component" style="background-color:#FFFFFF;"></div>
<div class="nike-cq-fst-background-image">
<div class="nike-cq-image" data-component-container="true"><img src="//www.nike.com/content/dam/one-nike/en_us/fuelband/FuelBand-Android/tabs_iphone.jpg.dimg/1600x580q80.jpeg" data-src="" alt="tabs_iphone.jpg" width="1600" height="580" class=" nike-cq-image-component nike-cq-touts-full-screen-tout-touts-background-image-resource">
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-block-container-component nike-cq-touts-full-screen-tout-touts-blocks-resource">
<div class="nike-cq-block" data-nike-cq-component-name="nike-cq-full-screen-block" data-component-container="true">
<div class="nike-cq-block-component-wrap nike-cq-block-align-left" data-alignment="left" data-column-position="0" data-row-position="1">
<div class="nike-cq-block-component">
<div class="nike-cq-block-subtitles">
<div class="nike-cq-block-title">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-title-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-title-resource">
<h2 class="nike-cq-title-headline nike-cq-title-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-title-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font20px nike-cq-spacing06px nike-cq-platform-font-1">NIKE<span class="nikeplus">+</span> FUELBAND SE FOR iOS</span></h2>
</div>
</div>
</div>
<div class="nike-cq-block-subtitle">
<div class="nike-cq-subtitle" data-component-container="true">
<div class="nike-cq-subtitle-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-subtitle-resource">
<h2 class="nike-cq-subtitle-headline nike-cq-subtitle-headline-level-2 nike-cq-subtitle-styled-header"><span class="nike-cq-subtitle-line-1 nike-cq-title-line nike-cq-line1 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• NikeFuel Daily Goal: Set and update your daily goal and track your progress over time.</span> <span class="nike-cq-subtitle-line-2 nike-cq-title-line nike-cq-line2 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Win the Hour: Receive Move reminders that give you an extra push to get you moving every hour.</span> <span class="nike-cq-subtitle-line-3 nike-cq-title-line nike-cq-line3 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Nike<span class="nikeplus">+</span> Sessions: Keep track of the intensity of your workouts through NikeFuel so you can</span> <span class="nike-cq-subtitle-line-4 nike-cq-title-line nike-cq-line4 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">understand what activities earn you the most.</span> <span class="nike-cq-subtitle-line-5 nike-cq-title-line nike-cq-line5 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Photo Sharing: Take photos, add your NikeFuel score and share with your friends on social.</span> <span class="nike-cq-subtitle-line-6 nike-cq-title-line nike-cq-line6 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Nike<span class="nikeplus">+</span> Groups: Opens up more ways to connect with your friends so you can keep each other going.</span> <span class="nike-cq-subtitle-line-7 nike-cq-title-line nike-cq-line7 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Notifications: Stay connected to Nike via push notifications - receive the latest info on challenges</span> <span class="nike-cq-subtitle-line-8 nike-cq-title-line nike-cq-line8 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">and upcoming events as well as exclusive video content.</span> <span class="nike-cq-subtitle-line-9 nike-cq-title-line nike-cq-line9 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">• Always connected: Bluetooth 4.0 technology allows you to stay constantly connected to your phone,</span> <span class="nike-cq-subtitle-line-10 nike-cq-title-line nike-cq-line10 nike-cq-color-16f8ff64-e2bf-403d-b030-815ce6019d41 nike-cq-font12px nike-cq-spacing02px nike-cq-base-font-1">receiving feedback and motivation as you need it.</span></h2>
</div>
</div>
</div>
</div>
<div class="nike-cq-block-ctas">
<div class="nike-cq-block-cta-pair">
<div class="nike-cq-block-cta">
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class=" nike-cq-cta-component nike-cq-cta-component nike-cq-touts-full-screen-tout-touts-blocks-block-touts-cta-0-resource nike-cq-cta-preset-cta nike-cq-cta-preset-ios"><a href="https://itunes.apple.com/us/app/nike+-fuelband/id493325070?mt=8" data-tracking="View in Apple app store" target="_blank"><img src="//www.nike.com/etc/designs/nike/images/cta-preset-images/itunes/large/App_Store_Badge_EN.gif" alt="View in Apple app store">
</a></div>
<div class=" nike-cq-cta-preset-not-available-message">App unavailable for this device</div>
<div class=" nike-cq-cta-preset-get-the-app-message">GET THE APP</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-attachments-component nike-cq-optional-full_screen_7-attachments-resource"></div>
</div>
</div>
</section>
</div>
</div>
</div>


</div>
        </div>
      </div>
    </div>
  </div>

  <div data-gadget="nike.gadget.OneNikeFooter" data-load="preloaded">
    

<footer>
  <div class="main-footer regular-footer clearfix"><div class="nike-cq-global-footer-page nike-cq-en_US nike-cq-tesla-xml nike-cq-lang-en nike-cq-en_US" data-experience-id="pes" data-locale="en_US" data-country="US" data-language="en" data-cq-url="http://www.nike.com">
<section class="nike-cq-page-section nike-cq-page-section-1 nike-cq-global-footer-section nike-cq-global-footer-section-1">
<div class="nike-cq-page-section-container nike-cq-global-footer-container">
<div class="nike-cq-global-footer" data-component-container="true">
<div class="nike-cq-global-footer-section nike-cq-global-footer-section-global-footer nike-cq-lang-en nike-cq-en_US nike-cq-tesla-xml">
<div class="nike-cq-page-section-container nike-cq-global-footer-container nike-cq-page-section-global-footer-container">
<div class="nike-cq-footer-boxes-container">
<div class="nike-cq-footer-boxes-options" data-component-container="true"></div>
<div class="nike-cq-footer-boxes" data-component-container="true">
<div class="nike-cq-footer-boxes-inner">
<div class="nike-cq-footer-boxes-container-component nike-cq-global-footer-footer-boxes-resource">
<div class="nike-cq-footer-boxes-box-1 nike-cq-footer-boxes-box">
<div class="nike-cq-footer-boxes-box-inner"><span class="nike-cq-global-footer-header">GET HELP</span> 
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-global-footer-footer-boxes-footer-boxes-box-1-container-resource">
<div class="nike-cq-list" data-component-container="true">
<ul class="nike-cq-list-component nike-cq-global-footer-footer-boxes-footer-boxes-box-1-container-moveable-resource">
<li class="nike-cq-list-item nike-cq-list-item1 nike-cq-list-item-level1 nike-cq-list-item-first"><a href="http://help-en-us.nike.com/app/landing/contact" class="nike-cq-list-link nike-cq-list-link1 nike-cq-list-link-level1">Contact us</a></li>
<li class="nike-cq-list-item nike-cq-list-item2 nike-cq-list-item-level1"><a href="http://help-en-us.nike.com/app/home" class="nike-cq-list-link nike-cq-list-link2 nike-cq-list-link-level1">Shopping</a></li>
<li class="nike-cq-list-item nike-cq-list-item3 nike-cq-list-item-level1"><a href="http://help-en-us.nike.com/app/landing/nikeid" class="nike-cq-list-link nike-cq-list-link3 nike-cq-list-link-level1">CATS!!!</a></li>
<li class="nike-cq-list-item nike-cq-list-item4 nike-cq-list-item-level1 nike-cq-list-item-last"><a href="http://nikeplus.nike.com/plus/support" class="nike-cq-list-link nike-cq-list-link4 nike-cq-list-link-level1">Nike<span class="nikeplus">+</span></a></li>
</ul>
</div>
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class="nike-cq-cta-component nike-cq-cta-component nike-cq-global-footer-footer-boxes-footer-boxes-box-1-container-moveable_0-resource nike-cq-cta-text-color-ffffff nike-cq-cta-text-size-14 nike-cq-cta-style-rounded nike-cq-cta-width-180 nike-cq-cta-height-40 nike-cq-cta-color-333333 nike-cq-cta-alignment-textcenter nike-cq-cta-icon-empty"><a href="http://www.nike.com/us/en_us/c/help" data-tracking="SEE MORE"><span>SEE MORE</span></a></div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-footer-boxes-box-2 nike-cq-footer-boxes-box">
<div class="nike-cq-footer-boxes-box-inner"><span class="nike-cq-global-footer-header">ORDERS</span> 
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-global-footer-footer-boxes-footer-boxes-box-2-container-resource">
<div class="nike-cq-list" data-component-container="true">
<ul class="nike-cq-list-component nike-cq-global-footer-footer-boxes-footer-boxes-box-2-container-moveable-resource">
<li class="nike-cq-list-item nike-cq-list-item1 nike-cq-list-item-level1 nike-cq-list-item-first"><a href="http://help-en-us.nike.com/app/answers/detail/article/payment-options" class="nike-cq-list-link nike-cq-list-link1 nike-cq-list-link-level1">Payment options</a></li>
<li class="nike-cq-list-item nike-cq-list-item2 nike-cq-list-item-level1"><a href="http://help-en-us.nike.com/app/answers/detail/article/shipping-delivery" class="nike-cq-list-link nike-cq-list-link2 nike-cq-list-link-level1">Shipping and delivery</a></li>
<li class="nike-cq-list-item nike-cq-list-item3 nike-cq-list-item-level1 nike-cq-list-item-last"><a href="http://help-en-us.nike.com/app/landing/returns/snav/s/navt/Returns" class="nike-cq-list-link nike-cq-list-link3 nike-cq-list-link-level1">Returns</a></li>
</ul>
</div>
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class="nike-cq-cta-component nike-cq-cta-component nike-cq-global-footer-footer-boxes-footer-boxes-box-2-container-moveable_0-resource nike-cq-cta-text-color-ffffff nike-cq-cta-text-size-14 nike-cq-cta-style-rounded nike-cq-cta-width-180 nike-cq-cta-height-40 nike-cq-cta-color-333333 nike-cq-cta-alignment-textcenter nike-cq-cta-icon-empty"><a href="http://store.nike.com/us/en_us/?l=shop%2Corderstatus" data-tracking="CHECK ORDER STATUS"><span>CHECK ORDER STATUS</span></a></div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-footer-boxes-box-3 nike-cq-footer-boxes-box">
<div class="nike-cq-footer-boxes-box-inner"><span class="nike-cq-global-footer-header">REGISTER WITH NIKE</span> 
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-global-footer-footer-boxes-footer-boxes-box-3-container-resource">
<div class="nike-cq-text" data-component-container="true">
<div class="nike-cq-text-component nike-cq-global-footer-footer-boxes-footer-boxes-box-3-container-moveable-resource">
<p>Get perks like free returns, access to exclusive releases and more.<br>

</p>
</div>
</div>
<div class="nike-cq-list" data-component-container="true">
<ul class="nike-cq-list-component nike-cq-global-footer-footer-boxes-footer-boxes-box-3-container-moveable_1-resource">
<li class="nike-cq-list-item nike-cq-list-item1 nike-cq-list-item-level1 nike-cq-list-item-first nike-cq-list-item-last"><a href="http://help-en-us.nike.com/app/answers/detail/article/member-benefits" class="nike-cq-list-link nike-cq-list-link1 nike-cq-list-link-level1">Learn more</a></li>
</ul>
</div>
<div class="nike-cq-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class=" nike-cq-cta-component nike-cq-cta-component nike-cq-global-footer-footer-boxes-footer-boxes-box-3-container-moveable_0-resource nike-cq-cta-text-color-ffffff nike-cq-cta-text-size-14 nike-cq-cta-style-rounded nike-cq-cta-width-180 nike-cq-cta-height-40 nike-cq-cta-color-333333 nike-cq-cta-alignment-textcenter nike-cq-cta-icon-empty"><a href="http://store.nike.com/us/en_us/?l=shop%2Cregister" data-tracking="REGISTER NOW"><span>REGISTER NOW</span></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-footer-1">
<div class="nike-cq-footer-1-inner">
<div class="footer-options footer-1">
<div class="nike-cq-footer-options-container-component nike-cq-global-footer-footer-1-resource">
<div class="nike-cq-footer-1-column">
<div class="nike-cq-footer-1-column-inner"><span class="nike-cq-global-footer-header">EMAIL SIGN UP</span> 
<div class="nike-cq-footer-1-column-image"><img src="//www.nike.com/content/dam/nike/global/footer_images/OneNike_Footer_Icons_Email.png" alt="EMAIL SIGN UP">
</div>
<div class="nike-cq-footer-1-column-list-fuller">
<ul class="nike-cq-footer-1-column-list nike-cq-footer-1-column-list-2">
<li>Be the first to know about new products and special offers.</li>
<li><a href="http://store.nike.com/us/en_us/?l=shop%2Cemail_signup">Sign up now</a></li>
</ul>
</div>
</div>
</div>
<div class="nike-cq-footer-1-column">
<div class="nike-cq-footer-1-column-inner"><span class="nike-cq-global-footer-header">GIFT CARDS</span> 
<div class="nike-cq-footer-1-column-image"><img src="//www.nike.com/content/dam/nike/global/footer_images/OneNike_Footer_Icons_GiftCard.png" alt="GIFT CARDS">
</div>
<div class="nike-cq-footer-1-column-list-fuller">
<ul class="nike-cq-footer-1-column-list nike-cq-footer-1-column-list-2">
<li>Give the gift that always fits.</li>
<li><a href="http://store.nike.com/us/en_us/?l=shop%2Cgift_cards">View cards</a></li>
</ul>
</div>
</div>
</div>
<div class="nike-cq-footer-1-column">
<div class="nike-cq-footer-1-column-inner"><span class="nike-cq-global-footer-header">STORES NEAR YOU</span> 
<div class="nike-cq-footer-1-column-image"><img src="//www.nike.com/content/dam/nike/global/footer_images/OneNike_Footer_Icons_StoreLocator.png" alt="STORES NEAR YOU">
</div>
<div class="nike-cq-footer-1-column-list-fuller">
<ul class="nike-cq-footer-1-column-list nike-cq-footer-1-column-list-2">
<li>Locate a Nike retail store or authorized retailer.</li>
<li><a href="http://www.nike.com/us/en_us/sl/store-locator">Search</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="nike-cq-footer-2">
<div class="nike-cq-footer-2-inner-wrapper">
<div class="nike-cq-footer-2-inner">
<div class="nike-cq-list" data-component-container="true">
<ul class="nike-cq-list-component nike-cq-global-footer-footer-2-resource">
<li class="nike-cq-list-item nike-cq-list-item1 nike-cq-list-item-level1 nike-cq-list-item-first"><a href="http://www.nike.com/language_tunnel" class="nike-cq-list-link nike-cq-list-link1 nike-cq-list-link-level1"><span class="nike-cq-list-link1-image"><img src="//www.nike.com/content/dam/one-nike/globalAssets/country_flags/us_sml.png.dimg/14x10q80.jpg" width="14" height="10">
</span>United States</a></li>
<li class="nike-cq-list-item nike-cq-list-item2 nike-cq-list-item-level1"><a href="http://www.nike.com/us/en_us/c/help/privacy-policy" class="nike-cq-list-link nike-cq-list-link2 nike-cq-list-link-level1">Privacy Policy</a></li>
<li class="nike-cq-list-item nike-cq-list-item3 nike-cq-list-item-level1"><a href="http://www.nike.com/us/en_us/c/help/terms-conditions" class="nike-cq-list-link nike-cq-list-link3 nike-cq-list-link-level1">Terms of Use</a></li>
<li class="nike-cq-list-item nike-cq-list-item4 nike-cq-list-item-level1"><a href="http://help-en-us.nike.com/app/answers/detail/article/supply-chain" class="nike-cq-list-link nike-cq-list-link4 nike-cq-list-link-level1">Supply Chain</a></li>
<li class="nike-cq-list-item nike-cq-list-item5 nike-cq-list-item-level1"><a href="http://www.nikeinc.com" class="nike-cq-list-link nike-cq-list-link5 nike-cq-list-link-level1">Nike Inc.</a></li>
<li class="nike-cq-list-item nike-cq-list-item6 nike-cq-list-item-level1"><a href="http://www.nike.com/us/en_us/launch" class="nike-cq-list-link nike-cq-list-link6 nike-cq-list-link-level1" data-sitecatalyst="launch_calendar">Launch Calendar</a></li>
<li class="nike-cq-list-item nike-cq-list-item7 nike-cq-list-item-level1 nike-cq-list-item-last"><a href="http://www.nike.com/us/en_us/lp/better-world" class="nike-cq-list-link nike-cq-list-link7 nike-cq-list-link-level1" data-sitecatalyst="betterworld">NikeBetterWorld</a></li>
</ul>
</div>
<div class="nike-cq-footer-2-copyright">
<p>© 2014 Nike, Inc. All Rights Reserved</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>

</div>
  <div class="main-footer swoosh-footer clearfix lazy-load"></div>
</footer>
  </div>

  


<div class="exp-login-modal is-hidden">
    <div class="exp-login-modal-left-col">
        <div class="exp-login-form-cont nsg-font-size--regular">
            <div class="nsg-title-font-size--xlarge nsg-font-family--platform">MOAR CATS!</div>
            <hr class="onenike-divider">
            <p class="exp-modal-register-description nsg-font-family--base">From shopping preferences to Nike+ activity, manage everything you do with Nike from one account.</p>
          <form class="exp-login-form exp-global-form" name="login-form" data-error="We’re sorry, we are unable to fulfill your request, please try again." action="javascript:void(0);" onsubmit="void(0);">
    <div class="error-container form-failure">
        <span class="nsg-glyph--alert nsg-text--nike-orange"></span>
        <span class="failure-text"></span>
    </div>
    <div class="exp-input-wrapper">
        <label class="nsg-form--label" for="exp-login-email" >Email Address</label>
        <input class="nsg-form--input" type="email" id="exp-login-email" name="email" data-error="Please enter a valid address." autocomplete="off" data-validator="email" required="required" data-qa="login_dropdown.email" />
    </div>
    <div class="exp-input-wrapper">
        <label class="nsg-form--label" for="exp-login-password" >Password</label>
        <input class="nsg-form--input" type="password" id="exp-login-password" name="password" data-error="Please enter a password." autocomplete="off" data-validator="default" required="required" data-qa="login_dropdown.password" />
    </div>
    <div class="exp-login-options">
      <label for="exp-login-rememberMe" class="nsg-form--label" >
        <div class="exp-form--checkbox"> <input type="checkbox" id="exp-login-rememberMe" name="rememberMe" data-validator="toggle"  class="nsg-form--checkbox--nike-orange" /> <div></div></div>
          <span class="exp-login-rememberMe-desc">Keep me logged in</span>
      </label>
      
        <div class="exp-login-forgot-password-link">
            <a class="nsg-font-size--regular nsg-font-family--base forgot-pw-link" href="javascript:void(0);">Password help</a>
        </div>
      
    </div>
    <button type="submit" class="exp-login-submit nsg-button--nike-orange" data-qa="login_dropdown.submit">LOG IN</button>
</form>
        </div>
    </div>
    <div class="exp-login-modal-right-col">
        <div class="exp-register-modal-prompt nsg-font-size--regular nsg-font-family--base">
            <div class="nsg-title-font-size--xlarge nsg-font-family--platform">
              REGISTER WITH NIKE
            </div>
            <hr class="onenike-divider">
            <p class="exp-modal-register-description">From shopping preferences to Nike+ activity, manage everything you do with Nike from one account.</p>
            <p class="exp-modal-register-description">Registered members get personalized services and benefits like:</p>

            <div class="exp-register-benefits clearfix">
                <div class="benefits">
                  <ul><li class="nsg-font-family--base">Access to exclusive releases and limited products.</li><li class="nsg-font-family--base">Free returns on all your <a href="http://www.nike.com">Nike.com</a> orders.</li><li class="nsg-font-family--base">Complimentary in-store shoe trials, pant hemming and more.</li><li class="nsg-font-family--base">Nike+ services, benefits and promotions.</li></ul>
                </div>
                <div class="free-returns promo-2">
                    <div class="nsg-font-family--base benefit-title"></div>
                </div>
            </div>
            <button type="submit" class="exp-register nike-button-dark nsg-button--dark-grey">JOIN</button>
        </div>
    </div>
</div>
  
    <div class="exp-forgot-password-modal exp-profile-forgot-password">
	<div class="exp-login-title nsg-title-font-size--xxxxlarge nsg-font-family--platform">
        <span class="nsg-title-font-size--xlarge">Password help</span>
    </div>
	<hr class="onenike-divider"/>
    <div class="exp-forgot-password-get-email">
	    <p class="nsg-font-size--regular nsg-text--dark-grey">Enter your email address and we’ll email you instructions to reset your password.</p>
	    <form class="exp-forgot-password-form exp-global-form" name="forgot-password-form" data-error="We’re sorry, we are unable to fulfill your request, please try again." action="javascript:void(0);" onsubmit="void(0);">
	        <div class="error-container form-failure">
	            <span class="nsg-glyph--alert nsg-text--nike-orange"></span>
	            <span class="failure-text"></span>
	        </div>
	        <div class="exp-input-wrapper">
	            <label class="nsg-form--label" for="exp-forgot-password" >Email Address</label>
	            <input class="nsg-form--input" type="email" id="exp-forgot-password" name="email" data-error="Please enter a valid address." autocomplete="off" data-validator="email" required="required" data-qa="login_modal.email" tabindex="1"/>
	        </div>
	        <button class="exp-forgot-password-back nsg-button--dark-grey" tabindex="3">BACK</button>
	        <button type="submit" class="exp-forgot-password-submit nsg-button--nike-orange" data-qa="login_modal.submit" tabindex="2">Send</button>
	    </form>
	</div>

	<div class="exp-forgot-password-success">
        <p class="nsg-font-size--regular nsg-text--dark-grey">To reset your password, please follow the instructions sent to your email address:</p>
        <p class="exp-forgot-password-email nsg-font-size--regular nsg-text--dark-grey"></p>
	    <p class="nsg-font-size--regular nsg-text--dark-grey">You’ll receive an email shortly.</p>
	    <button class="exp-forgot-password-back nsg-button--nike-orange">Back to Login</button>
	</div>
</div>
  

  

  

  
    
      <script defer="defer" type="text/javascript" src="http://www.nike.com/etc/designs/nike/pes/nike.tesla.footer.js?buildRev=210034" ></script>
    
      <script defer="defer" type="text/javascript" src="http://www.nike.com/apps/nike/ui/v4/nike.tesla.shared.js?buildRev=210034" ></script>
    
      <script defer="defer" type="text/javascript" src="http://www.nike.com/etc/designs/nike/one-nike/nike.tesla.one-nike.js?buildRev=210034" ></script>
    
  

  <script type="text/javascript" language="JavaScript">
    
      nike.loadExternalResources("http://store.nike.com/cms/analytics-store-desktop.js?buildRev=210034");
    
      nike.exp.global.FunctionalAndPerformance.init();
  </script>

  
    <script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" + "js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-5.newrelic.com","7a3e5186c9","4505511,4505519","ZABUMEFQDxBXU0dfC11KZAFCRAQQQnFHQhZaB0MQVh4JF1tcCVUAQ0hVC11FEwxaXFZE",1,20,new Date().getTime(),"","","","",""]);</script>
  
</body>
</html>
