<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie ie6 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]>   <html class="no-js ie9 en_us" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US"  xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#"  ><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js en_us" xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="en_US" lang="en_US"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
  <title>Collective Internship Case Study: 2014 + Chen, Fallon, Yu + </title>
  <meta name="revisit-after" content="30 days" />
  
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
      <meta name="revisit-after" content="30 days" />
  
      <meta name="country" content="US" />
  
      <meta http-equiv="content-language" content="en" />
  
      <meta name="title" content="Collective Case Study: Steven Chen, Tessa Fallon, Stephanie Yu" />
  
      <meta property="og:locale" content="en_US" />
  
      <meta name="description" content="2014 Case Study presentation" />
  
      <meta property="og:title" content="Nike+ Fuelband SE. Activity Tracker & Fitness Monitor" />
  
      <meta property="og:image" content="http://www.nike.com/content/dam/one-nike/en_us/fuelband/1381957_509947459095460_217449504_n-1.jpg" />
  
      <meta property="og:url" content="http://www.nike.com/us/en_us/c/nikeplus-fuelband" />
  
      <meta property="og:description" content="Track how much, how often and how intensely you move with the Nike+ Fuelband SE. Earn NikeFuel and stay active by setting goals and challenging friends." />
  

  
  <script type="text/javascript" src="http://store.nike.com/common/scripts/device_detect.js?buildRev=210034"></script>
  <script>
    window.nike.exp.script.device_detect.redirectOnAgentMismatch('false', 'http://m.nike.com/us/en_us/c/nikeplus-fuelband');
  </script>

  
  <script type="text/javascript">
  var nsgConfig = {
    HOST: 'https://www.nike.com'
  };
  </script>
  <script type="text/javascript" src="https://www.nike.com/styleguide/init/nsg.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index,follow" />

  
      <link rel="canonical" href="http://www.nike.com/us/en_us/c/nikeplus-fuelband" />
  

  
      <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.nike.com/us/en_us/c/nikeplus-fuelband" />
  

  <link rel="stylesheet" type="text/css" media="screen" href="http://store.nike.com/us/en_us/style.css?assets=nike,jQuery,nike.ScriptLoader,nike.EventBus,nike.page.OneNikeShell,nike.page.OneNikePageLayout,nike.fonts.glyphPolyfill,nike.exp.global.Ad,nike.exp.global.FunctionalAndPerformance,nike.style.exp.exp-desktop,nike.style.nsg.font.desktop-font-en_us&assetType=STYLE&buildRev=210034" />

  

  
    
      <link href="http://www.nike.com/etc/designs/nike/colors.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/etc/designs/nike/pes/nike.tesla.footer.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/apps/nike/ui/v4/nike.tesla.shared.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
      <link href="http://www.nike.com/etc/designs/nike/one-nike/nike.tesla.one-nike.css?buildRev=210034" rel="stylesheet" type="text/css" />
    
  

  <script type="text/javascript" src="http://store.nike.com/us/en_us/NikeScriptManager.js?assets=nike,jQuery,nike.ScriptLoader,nike.EventBus,nike.page.OneNikeShell,nike.page.OneNikePageLayout,nike.fonts.glyphPolyfill,nike.exp.global.Ad,nike.exp.global.FunctionalAndPerformance,nike.style.exp.exp-desktop,nike.style.nsg.font.desktop-font-en_us&assetType=SCRIPT&buildRev=210034"></script>
  
  <script type="text/javascript" src="//tags.tiqcdn.com/utag/nike/main/prod/utag.js"></script>

</head>
<body class="exp-extended-nav">
  


  


  
    <div id="hidden-ada-store-link" class="ada-hidden">
      <a href="http://store.nike.com/us/en_us/?route=ada">Click for a different version of this web site containing similar content optimized for screen readers</a>
    </div>
    <a class="ada-hidden" title="Return home" href=".">RETURN HOME</a>
    <a class="ada-hidden" title="Skip to main content" href="#content">SKIP TO MAIN CONTENT</a>
  

  <div data-gadget="nike.gadget.OneNikeNav" data-load="preloaded">
    






<nav class="gnav en" data-qa="globalnav.container" data-handlebars="true">
    
        <div class="exp-darkbar" data-qa="darkbar.container">
            <div class="exp-darkbar-left-section">
                <div class="active"><a href="/credits"><span class="facet-label nsg-text--nike-orange nsg-button-font-size--xsmall nsg-font-family--platform" data-qa="darkbar.shop">Credits</span></a></div>
                <div><a data-track-click="true" data-nav-tracking="nike plus" href="/team"><span class="facet-label nsg-text--nike-white nsg-button-font-size--xsmall nsg-font-family--platform" data-qa="darkbar.nikeplus">Project Team</span></a></div>
            </div>
        </div>
            

      
    <div class="tier0">
        <div class="home facet nav-section no-subnav">
            <a href="/" data-brand-url="http://www.nike.com/us/en_us/" data-nav-tracking="home" data-track-click="true">
            <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    HOME
                  <span class="nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="simplcity"
              >

            <a href="/simplicity"  data-nav-tracking="simplcity" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    SIMPLCITY 
                  
                  <span class="nsg-glyph--arrow-down nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="interactivity"
              >

            <a href="/interactivity"  data-nav-tracking="interactivity" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    INTERACTIVITY
                  
                  <span class="nsg-glyph--arrow-down nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
      
        <div class=" facet nav-section"
             data-subnav="personalization"
              >

            <a href="/personalization"  data-nav-tracking="personalization" data-track-click="true" >
                <span class="nsg-font-family--platform nsg-button-font-size--small facet-label">
                  
                    PERSONALIZATION 
                  
                  <span class="nsg-glyph--arrow-down nsg-text--medium-light-grey"></span>
                </span>
            </a>
        </div>
    </div>
</nav>

</div>
  <div data-gadget="nike.gadget.LoadingScreen" data-load="preloaded" class="loading-screen">
    <div class="loading-overlay"></div>
  </div>

  <div id="body">
    <div id='body-wrapper' class='fullheight'>
      <div id='body-liner' class="clear">
        <div id='content'>
          <noscript>
            <div id="noscript-content">
              <p>We’ve detected that your system does not have JavaScript enabled, which is required to purchase product and properly experience Nike.com.<br/>Please <a href="http://enable-javascript.com/">enable JavaScript in your browser</a> and refresh the page.</p>
            </div>
          </noscript>
          <a href="#" name="content" accesskey="2"></a>

          <span class='trackingData' id="cdpTrackingData" data-inline-style-allowed="true" style="display:none;">
  {"response":{"canonicalUrl":"http://www.nike.com/us/en_us/c/nikeplus-fuelband","contentPath":["nikeplus-fuelband"],"country":"US","defaultHomePage":"homepage","division":"brand","language":"en","pageType":"landing page","sportCategory":"nikeplus-fuelband","isSportCategory":true},"success":true}
</span>
<script language="javascript">
    window.nike = nike || {};
    nike.analytics = nike.analytics || {};
    nike.analytics.currentPageId = "cq_content";
</script>
<div class="nike-cq-content">
  <div class="device-type-desktop nike-cq-new-template nike-cq-nike-com-page nike-cq-lang-en nike-cq-en_US nike-cq-tesla-xml" data-experience-id="one-nike" data-locale="en_US" data-country="US" data-language="en" data-cq-url="http://www.nike.com" data-cq-ispreviewmode="false" data-follow-text="Follow [social channel]">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-container-component nike-cq-optional-resource">
<section class="nike-cq-page-module nike-cq-active-page-title nike-cq-active-page-title-optional" data-module-name="Active Page Title" data-component-container="true">
<div class="nike-cq-nike-com-section nike-cq-nike-com-section-active-page-title-optional">
<div class="nike-cq-page-section-container nike-cq-active-page-title-container nike-cq-nike-com-container nike-cq-page-section-active-page-title-optional-container">
<div class="nike-cq-active-page-title-wrapper nike-cq-active-page-title-optional-wrapper">
<div class="nike-cq-active-page-title-title" data-component-container="true">
<header class="nike-cq-active-page-title-title-component nike-cq-active-page-title-title-header nike-cq-optional-active_page_title_op-active-page-title-title-resource page-header">
<h1 class="nike-cq-active-page-title-title-headline page-title"><span class="nike-cq-active-page-title-title-line nike-cq-active-page-title-title-line-1nike-cq-line1">COLLECTLET<span class="nikeplus">+</span></span></h1>
</header>
</div>
<div class="nike-cq-active-page-title-share" data-component-container="true"></div>
<div class="nike-cq-active-page-title-optional-right nike-cq-active-page-title-ctas">
<div class="nike-cq-container" data-component-container="true">
<div class="nike-cq-active-page-title-container-component nike-cq-optional-active_page_title_op-active-page-title-container-resource">
<div class="nike-cq-active-page-title-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope -->
<div class="nike-cq-active-page-title-cta" data-component-container="true"><!-- make model variable available to included JSP's via request scope --></div>
<div class="nike-cq-active-page-title-text" data-component-container="true">
<div class="nike-cq-active-page-title-text-component nike-cq-optional-active_page_title_op-active-page-title-container-active_page_title_te-resource">
<p><br>

</p>
<p></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class=" nike-cq-page-section nike-cq-page-section-1 nike-cq-full-screen-section nike-cq-full-screen-section-1">
<%= yield %>