<link rel="stylesheet" href="css/bootstrap.min.css" />
	<div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placekitten.com/g/200/300" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>Steven Chen</h3>
            <p>Steven is a marketing intern at Collective. He will graduate from NYU-Stern in 2015.</p>
            <p><a href="mailto:schen@collective.com" class="btn btn-primary" role="button">Email</a> <a href="#" class="btn btn-default" role="button">LinkedIn</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placekitten.com/g/200/300" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>Tessa Fallon</h3>
            <p>Tessa  is a web developer and engineering intern at Collective.</p>
            <p><a href="mailto:tfallon@collective.com" class="btn btn-primary" role="button">Email</a> <a href="https://www.linkedin.com/in/tessafallon" class="btn btn-default" role="button">LinkedIn</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placekitten.com/g/200/300" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>Stephanie Yu</h3>
            <p>Stephanie is an operations intern at Collective. She will graduate from NYU-Stern in 2015.</p>
            <p><a href="mailto:syu@collective.com" class="btn btn-primary" role="button">Email</a> <a href="#" class="btn btn-default" role="button">LinkedIn</a></p>
          </div>
        </div>
      </div>
    </div>